<div class="container text-center">
  <h1>Blogs</h1>
{{> navlinks}}
</div>

<div class="card-group container login-form gray-section d-flex justify-content-around">
  {{#each blogs as |blog|}}
    <div class="mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{blog.blogTitle}}</h5>
          <p class="card-text">{{blog.blogText}}</p>
          <a href="/blog/{{blog.id}}" class="btn btn-primary">Details + Reviews</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
